# Assignment 1

## Loading data

In [1]:
from aa import DataLoader
from aa import extract_features
from aa import check_output
import torch
device = torch.device("cuda:1")

In [2]:
# IN THIS BOX YOU ARE ALLOWED TO ADD ANY CODE FOR SETTING UP A PYTORCH DEVICE

In [3]:
dataset = DataLoader(data_dir="../DDICorpus/", device=device)

In [4]:
dataset.data_df.head()

              sentence_id  token_id  char_start_id  char_end_id  split
45372  DDI-MedLine.d12.s0      3462              0           12  train
45373  DDI-MedLine.d12.s0      1337             14           16  train
45374  DDI-MedLine.d12.s0      8865             18           24  train
45375  DDI-MedLine.d12.s0       907             26           32  train
45376  DDI-MedLine.d12.s0      9248             34           42  train

In [5]:
dataset.ner_df.head()

           sentence_id  ner_id char_start_id char_end_id
0  DDI-MedLine.d174.s0       2             1          25
1  DDI-MedLine.d174.s0       0            54          73
2  DDI-MedLine.d174.s0       2            98         133
3  DDI-MedLine.d174.s1       2             0          35
4  DDI-MedLine.d174.s1       2            38          43

In [6]:
dataset.vocab[:15]

['"',
 '",',
 '";',
 '">',
 '#',
 '%',
 '%)',
 '%),',
 '%).',
 '%);',
 '%,',
 '%-',
 '%.',
 '%;',
 '&']

In [7]:
dataset.id2ner

{0: 'drug', 1: 'drug_n', 2: 'group', 3: 'brand'}

In [8]:
dataset.max_sample_length

AttributeError: 'DataLoader' object has no attribute 'max_sample_length'

In [ ]:
dataset.get_random_sample()

### Data Exploration

In [ ]:
dataset.plot_split_ner_distribution()

### Labels

In [ ]:
train_y, val_y, test_y = check_output(dataset.get_y())

## Extracting Features

In [ ]:
train_X, val_X, test_X = check_output(extract_features(
                                                        data=dataset.data_df,
                                                        max_sample_length=dataset.max_sample_length,
                                                        #Add any addtional arguments here
                                                       ))

## Bonus Part: Explore Some more

In [ ]:
#uncomment the code below if you want to do bonus part

In [ ]:
#dataset.plot_ner_per_sample_distribution()

In [ ]:
#dataset.plot_sample_length_distribution()

In [ ]:
#dataset.plot_ner_cooccurence_venndiagram()